@font-face {
  font-family: "iconfont"; /* Project id 2131054 */
  src: url('iconfont.woff2?t=1631501281605') format('woff2'),
       url('iconfont.woff?t=1631501281605') format('woff'),
       url('iconfont.ttf?t=1631501281605') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-banci:before {
  content: "\e61d";
}

.iconfont-riqi:before {
  content: "\e61e";
}

.iconfont-xiedian:before {
  content: "\e61f";
}

.iconfont-liebiao_dianchan:before {
  content: "\e61b";
}

.iconfont-liebiao_kache:before {
  content: "\e61a";
}

.iconfont-liebiao_waiwei:before {
  content: "\e619";
}

.iconfont-zonglan:before {
  content: "\e618";
}

.iconfont-gallery-view:before {
  content: "\e76b";
}

.iconfont-fengefu3:before {
  content: "\e600";
}

.iconfont-a-rili:before {
  content: "\e6b9";
}

.iconfont-a-zu2:before {
  content: "\e60d";
}

.iconfont-shezhi2:before {
  content: "\e628";
}

.iconfont-shezhi1:before {
  content: "\e603";
}

.iconfont-liebiao1:before {
  content: "\e60c";
}

.iconfont-daohangshouye:before {
  content: "\e605";
}

.iconfont-guanlishebei:before {
  content: "\e837";
}

.iconfont-peizhiguanli:before {
  content: "\e726";
}

.iconfont-zhihang:before {
  content: "\e627";
}

.iconfont-shuju:before {
  content: "\e644";
}

.iconfont-liebiao:before {
  content: "\e620";
}

.iconfont-canshuguanli:before {
  content: "\e60a";
}

.iconfont-collaboration-system:before {
  content: "\e85b";
}

.iconfont-yonghuguanli:before {
  content: "\e699";
}

.iconfont-fenge:before {
  content: "\e62b";
}

.iconfont-dingcan-01:before {
  content: "\e60b";
}

.iconfont-dingcanfill:before {
  content: "\e608";
}

.iconfont-danxuanfill:before {
  content: "\e71e";
}

.iconfont-danxuan:before {
  content: "\e71f";
}

.iconfont-biaoxingfill:before {
  content: "\e732";
}

.iconfont-biaoxing:before {
  content: "\e733";
}

.iconfont-dianpufill:before {
  content: "\e735";
}

.iconfont-dianpu:before {
  content: "\e736";
}

.iconfont-fenxiang:before {
  content: "\e739";
}

.iconfont-gengduo:before {
  content: "\e73a";
}

.iconfont-liuyanfill:before {
  content: "\e743";
}

.iconfont-liuyan:before {
  content: "\e744";
}

.iconfont-shanchu:before {
  content: "\e74b";
}

.iconfont-shezhi:before {
  content: "\e74c";
}

.iconfont-shouyefill:before {
  content: "\e750";
}

.iconfont-shouye:before {
  content: "\e751";
}

.iconfont-wodefill:before {
  content: "\e75d";
}

.iconfont-wode:before {
  content: "\e75e";
}

.iconfont-xihuanfill:before {
  content: "\e760";
}

.iconfont-xihuan:before {
  content: "\e761";
}

.iconfont-yonghufill:before {
  content: "\e787";
}

.iconfont-yonghu:before {
  content: "\e788";
}

.iconfont-others:before {
  content: "\e7bc";
}

